<div class="bjui-pageContent tableContent">
        <div class="pageFormContent" data-layout-h="0">
          <table class="table table-bordered table-striped table-hover">
           <tbody>
		   <tr><td><label for='id_input' class='control-label x85'>ID:</label>{$Rs.id}</td><td><label for='hid_input' class='control-label x85'>合同ID:</label>{$Rs.hid}</td></tr>
<tr><td><label for='bianhao_input' class='control-label x85'>合同编号:</label>{$Rs.bianhao}</td><td><label for='mingcheng_input' class='control-label x85'>合同名称:</label>{$Rs.mingcheng}</td></tr>
<tr><td><label for='title_input' class='control-label x85'>客户名称:</label>{$Rs.title}</td><td><label for='shijian_input' class='control-label x85'>发货时间:</label>{$Rs.shijian}</td></tr>
<tr><td><label for='value_input' class='control-label x85'>物流快递:</label>{$Rs.value}</td><td><label for='beizhu_input' class='control-label x85'>备注说明:</label>{$Rs.beizhu}</td></tr>
<tr><td><label for='jingban_input' class='control-label x85'>经办人:</label>{$Rs.jingban}</td><td><label for='uname_input' class='control-label x85'>添加人:</label>{$Rs.uname}</td></tr>
<tr><td><label for='addtime_input' class='control-label x85'>添加时间:</label>{$Rs.addtime}</td><td><label for='uuname_input' class='control-label x85'>更新人:</label>{$Rs.uuname}</td></tr>
<tr><td><label for='updatetime_input' class='control-label x85'>更新时间:</label>{$Rs.updatetime}</td>
           </tbody>
          </table>
        </div>
</div>
<div class="bjui-pageFooter">
    <ul>
       <li><button type="button" class="btn-close" data-icon="close">关闭</button></li>
    </ul>
</div>