<div class="bjui-pageHeader">
<form id="pagerForm" data-toggle="ajaxsearch" action="__URL__" method="get">
	<input type="hidden" name="pageSize" value="{$numPerPage}">
    <input type="hidden" name="pageCurrent" value="{$_REQUEST['pageNum']|default=1}">
        <div class="bjui-searchBar">
			<label>时间：</label><input type='text' data-toggle='datepicker' value='{$_REQUEST['time1']}' name='time1' class='form-control' size='12' />-<input type='text' data-toggle='datepicker' value='{$_REQUEST['time2']}' name='time2' class='form-control' size='12' />
			&nbsp;<label>业务员：</label><select name='jingban' data-toggle='selectpicker'><option value=''>全部</option><foreach name='jingbanlist' item='v'><option value='{$v.jingban}'  <if condition="$v.jingban EQ $_REQUEST['jingban']">selected<else/>{$_REQUEST['jingban']}</if> >{$v.jingban}</option></foreach></select>&nbsp;
             <button type="submit"  class="btn-default" data-icon="search">查询</button>
             <a class="btn btn-orange" href="javascript:;" onclick="$(this).navtab('reloadForm', true);" data-icon="undo">清空查询</a>
		</div> 
</form>
    
</div>
<div class="bjui-pageContent tableContent" style="padding:8px;">
    <!--//--> 
                   <div class="col-md-12">
                    <div class="panel panel-default">
                          <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-leaf"></i> 收款增长趋势 </h3></div>
                            <div style="min-height:185px">
							<img src="{:U('fxcaiwu/shou',array('keys'=>$_REQUEST['keys'],'time1'=>$_REQUEST['time1'],'time2'=>$_REQUEST['time2'],'jingban'=>$_REQUEST['jingban']))}">
						 </div>
                        </div>
                      </div>
                    <!--//-->  
					<div class="col-md-12">
                    <div class="panel panel-default">
                          <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-pencil-square-o"></i> 付款增长趋势 </h3></div>
                            <div style="min-height:185px">
							<img src="{:U('fxcaiwu/fukuan',array('keys'=>$_REQUEST['keys'],'time1'=>$_REQUEST['time1'],'time2'=>$_REQUEST['time2'],'jingban'=>$_REQUEST['jingban']))}">
						 </div>
                        </div>
                      </div>
                  <!--//-->	
					  <div class="col-md-6">
                      <div class="panel panel-default">
                          <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-pencil-square-o"></i>  付款类型 </h3></div>
                            <div style="min-height:185px">
							<img src="{:U('fxcaiwu/leixing',array('keys'=>$_REQUEST['keys'],'time1'=>$_REQUEST['time1'],'time2'=>$_REQUEST['time2'],'jingban'=>$_REQUEST['jingban']))}">
						  </div>
                        </div>
                      </div>
                      <!--//--> 
                      <div class="col-md-6">
                        <div class="panel panel-default">
                          <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-user-md"></i>  业务员付款分析 </h3></div>
                            <div style="min-height:185px">
							<img src="{:U('fxcaiwu/jingban',array('keys'=>$_REQUEST['keys'],'time1'=>$_REQUEST['time1'],'time2'=>$_REQUEST['time2'],'jingban'=>$_REQUEST['jingban']))}">
						  </div>
                        </div>
                      </div>
                      <!--//--> 				  
</div>
<div class="bjui-pageFooter">
    <ul>
       <li><button type="button" class="btn-close" data-icon="close">关闭</button></li>
    </ul>
</div>